html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #111111;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(138, 106, 255);
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
